<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.notice.mapper.NoticeMapper">
  <select id="selectList" resultType="NoticeVO">
    SELECT * FROM tal_notice ORDER BY notice_id desc
  </select>
    
   <select id="searchOne" resultType="NoticeVO">
   	SELECT * FROM tal_notice WHERE notice_id=#{nid}
   </select>
   
   <insert id="insertNotice" parameterType="NoticeVO">
    INSERT INTO tal_notice (notice_id, notice_writer, notice_title, notice_subject, attach_file)
	VALUES(notice_seq.nextval, #{noticeWriter}, #{noticeTitle}, #{noticeSubject}, #{attachFile})
   </insert>
   
   <update id="updateNotice" parameterType="NoticeVO">
   	UPDATE tal_notice
   	SET notice_title=#{noticeTitle}
   		,notice_subject=#{noticeSubject}
   	WHERE notice_id=#{noticeId}
   </update>
   
   <delete id="deleteNotice" parameterType="int">
   	DELETE FROM tal_notice where notice_id=#{nid}
   </delete>
   
   <!-- 조회수 증가 -->
   <update id="increaseCnt" parameterType="int">
   	UPDATE tal_notice
   	SET hit_count = hit_count + 1
   	WHERE notice_id = #{uid}
   	</update>
   	
   	<!-- 댓글목록 -->
   	<select id="replyList" resultType="ReplyVO">
   	 SELECT * FROM tbl_reply
   	 WHERE notice_id = #{nid}
   	 ORDER BY reply_id
   	</select>
   	
   	<!-- 댓글삭제 -->
   	<delete id="deleteReply" parameterType="int">
   	 DELETE FROM tbl_reply WHERE reply_id = #{rid}
   	</delete>
   	
   	<!-- 댓글등록 -->
   	<insert id="insertReply" parameterType="ReplyVO">
   	 <!-- 생성한다 -->
   	 <selectKey keyProperty="replyId" resultType="int" order="BEFORE">
   	  SELECT reply_seq.nextval FROM dual
   	 </selectKey>
   	  INSERT INTO tbl_reply (reply_id, notice_id, reply_title, reply_subject, reply_writer, reply_date)
	  VALUES (#{replyId}, #{noticeId}, #{replyTitle}, #{replySubject}, #{replyWriter}, #{replyDate})
   	</insert>
</mapper>